/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-hover-effect {
  @apply block rounded border-b border-gray-100 bg-slate-700    py-2  pr-4 pl-3 text-xs   text-gray-300 transition-all    duration-300 hover:scale-105 hover:text-orange-500 md:border-0  md:bg-transparent lg:text-base xl:text-sm;
}
.nav-sub-items {
  @apply block bg-gray-800 py-2 px-4 text-sm text-gray-200 transition-all  duration-150  hover:scale-105   hover:text-orange-500 xl:text-sm;
}
.project-sort-list {
  @apply block bg-slate-600 py-2  px-4 text-xs text-gray-200 transition-all duration-150  hover:scale-105     hover:text-orange-500 lg:text-sm;
}
.topbar-item-hover {
  @apply duration-200 hover:scale-125;
}
